@font-face {
  font-family: "Verdana-Bold";
  src: url("../fonts/Verdana-Bold.woff") format("woff"),
  url("../fonts/Verdana-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verdana-Regular";
  src: url("../fonts/Verdana-Regular.woff") format("woff"),
  url("../fonts/Verdana-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}