<section class="section diet">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 offset-xl-1 col-lg-6">
        <div class="banner show-on-scroll hide up">
          <img data-src="images/home/banner-1.jpg" alt="How do I get started?" class="is-hidden" />
        </div>
      </div>
      <div class="col-xl-5 offset-xl-1 col-lg-6">
        <div class="diet-title show-on-scroll hide up">
          <h4 class="title-4">Don’t forget diet and exercise</h4>
        </div>
        <div class="diet-description show-on-scroll hide up">
          <p>Weight-loss medication  work best if used in conjunction with diet and exercise. All our coaches are qualified weight-loss specialists and can custom tailor programmes just for you. So if your initial plan seem too daunting or perhaps too easy, do not be afraid to raise that with your coach. Any dietary restrictions or physical limitations also needs to be taken into account. </p>
        </div>
      </div>
    </div>
  </div>
</section>