<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <a href="index.html" class="header-logo-box">
<!--          <img src="images/partners/R.png" alt="R" class="header-logo-partner" />-->
          <img src="images/logo.png" alt="Novo Rodisk" />
        </a>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="footer-nav">
          <nav class="nav">
            <ul>
              <li>
                <a href="index.html" class="link active">Home</a>
              </li>
              <li>
                <a href="about.html" class="link">About us</a>
              </li>
              <li>
                <a href="pricing.html" class="link">Pricing</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="social">
          <a href="https://twitter.com/" target="_blank" class="social-link">
            <svg class="icon"><use xlink:href="images/sprite.svg#twitter"></use></svg>
          </a>
          <a href="https://www.instagram.com/" target="_blank" class="social-link">
            <svg class="icon"><use xlink:href="images/sprite.svg#instagram"></use></svg>
          </a>
          <a href="https://www.facebook.com/" target="_blank" class="social-link">
            <svg class="icon"><use xlink:href="images/sprite.svg#facebook"></use></svg>
          </a>
          <a href="https://www.pinterest.com/" target="_blank" class="social-link">
            <svg class="icon"><use xlink:href="images/sprite.svg#pinterest"></use></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer-description">
          <p>In no impression assistance contrasted. Manners she wishing justice hastily new anxious. <br /> At discovery discourse departure objection we. Few extensive add delighted tolerably sincerity her.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>We want to ensure that our</p>
  </div>
</footer>

<div class="popup" id="login">
  <div class="popup-box">
    <div class="popup-box-title">
      <h4 class="title-4">Sign In</h4>
    </div>
    <form>
      <label class="input-container">
        <span class="input-label">E-mail</span>
        <input type="email" class="input" placeholder="E-mail" />
      </label>
      <label class="input-container">
        <span class="input-label">Password</span>
        <input type="password" class="input" placeholder="Password" />
      </label>
      <div class="popup-box-action">
        <button class="btn open-popup">Login</button>
      </div>
      <div class="popup-box-detail">
        <p>Don't have account? <a href="#registration" class="open-popup">Sign Up</a></p>
      </div>
    </form>
  </div>
</div>

<div class="popup" id="registration">
  <div class="popup-box">
    <div class="popup-box-title">
      <h4 class="title-4">Sign Up</h4>
    </div>
    <form>
      <label class="input-container">
        <span class="input-label">Name</span>
        <input type="text" class="input" placeholder="Name" />
      </label>
      <label class="input-container">
        <span class="input-label">E-mail</span>
        <input type="email" class="input" placeholder="E-mail" />
      </label>
      <label class="input-container">
        <span class="input-label">Telephone</span>
        <input type="tel" class="input" placeholder="Telephone" />
      </label>
      <label class="input-container">
        <span class="input-label">Password</span>
        <input type="password" class="input" placeholder="Password" />
      </label>
      <label class="input-container">
        <span class="input-label">Confirm password</span>
        <input type="password" class="input" placeholder="Password" />
      </label>
      <div class="popup-box-action">
        <button class="btn open-popup">Sign Up</button>
      </div>
      <div class="popup-box-detail">
        <p>Already have account? <a href="#login" class="open-popup">Sign In</a></p>
      </div>
    </form>
  </div>
</div>

<div class="popup" id="success">
  <div class="popup-box">
    <div class="popup-box-title">
      <h4 class="title-4">Your application is completed</h4>
    </div>
    <div class="popup-box-description">
      <p>Our manager will call you back within 15 minutes</p>
    </div>
    <div class="popup-box-action">
      <button class="btn close-popup">Close</button>
    </div>
  </div>
</div>