<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-6">
        <div class="header-logo">
          <a href="index.html" class="header-logo-box">
<!--            <span class="header-logo-label">Powered by</span>-->
<!--            <img src="images/partners/R.png" alt="R" class="header-logo-partner" />-->
            <img src="images/logo.png" alt="Novo Rodisk" />
          </a>
        </div>
      </div>
      <div class="col-md-9 col-sm-6 col-6">
        <div class="header-nav">
          <nav class="nav">
            <ul>
              <li>
                <a href="index.html" class="link active">Home</a>
              </li>
              <li>
                <a href="how-it-works.html" class="link">How it works</a>
              </li>
              <li>
                <a href="pricing.html" class="link">Pricing</a>
              </li>
              <li>
                <a href="#login-popup" class="link open-popup">Login</a>
              </li>
              <li>
                <a href="consultation-step-1.html" class="btn btn-border btn-sm">Start consultation</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="burger">
          <div class="burger-box">
            <span class="burger-box-arrow"></span>
            <span class="burger-box-arrow"></span>
            <span class="burger-box-arrow"></span>
            <span class="burger-box-arrow"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>