<div class="dashboard-sidebar">
  <div class="dashboard-sidebar-nav">
    <ul>
      <li>
        <button
          class="tab-btn is-active"
          data-tab-role="dashboard"
          data-tab-id="page-0">User data</button>
      </li>
      <li>
        <button
          class="tab-btn"
          data-tab-role="dashboard"
          data-tab-id="page-1">Payments data</button>
      </li>
      <li>
        <button
          class="tab-btn"
          data-tab-role="dashboard"
          data-tab-id="page-2">Orders info</button>
      </li>
    </ul>
  </div>
</div>