<section class="section subscribe">
  <div class="bg">
    <img data-src="images/home/banner-2.jpg" alt="Clinically proven weight-loss" class="is-hidden" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="subscribe-title show-on-scroll hide up">
          <h3 class="title-3">Sign up for update</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form show-on-scroll hide up">
          <form>
            <div class="input-container">
              <input type="text" class="input" placeholder="Your Email address here" />
              <button class="btn">submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>