<section class="section today">
  <div class="bg">
    <img data-src="images/home/banner-2.jpg" alt="Clinically proven weight-loss" class="is-hidden" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="today-title show-on-scroll hide up">
          <h3 class="title-3">Take the first step today</h3>
        </div>
        <div class="today-description show-on-scroll hide up">
          <p>Answer the questionnaire to see if you qualify</p>
        </div>
        <div class="today-action show-on-scroll hide up">
          <a href="consultation-step-1.html" class="btn">Start-consultation</a>
        </div>
      </div>
    </div>
  </div>
</section>