.nav{
    ul{
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    li{
      padding-left: 113px;
        &:nth-child(1){
          padding-left: 0;
        }
        @include d(1300){
          padding-left: 80px;
        }
        @include d(1200){
          padding-left: 60px;
        }
    }
}