.dashboard{
  padding: 20px 0 50px;
  background-color: $grey-light;
    &-content{
        .btn{
          margin-top: 30px;
        }
        .title-4{
          line-height: 1.4em;
        }
    }
    &-side{
      @include d(991){
        padding-top: 50px;
      }
    }
    &-tabs{
      display: inline-flex;
      align-items: center;
      border: 1px $grey solid;
      border-radius: 6px;
      overflow: hidden;
        &-item{
          @extend .link;
          padding: 16px 50px;
          cursor: pointer;
            &.is-active{
              background-color: $blue;
              color: $white;
            }
        }
        &-content{
          padding: 20px 0;
        }
    }
    .input{
      height: 46px;
      border-color: $grey;
      box-shadow: none;
      background-color: #fdfdfd;
        &-label{
          margin-bottom: 10px;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: .05em;
        }
        &-container{
          padding-bottom: 20px;
        }
    }
    .pricing{
        &-box{
            &-title{
              padding: 0;
              color: $black;
              margin-top: 20px;
            }
            &-list{
              padding: 0 5px 0 0;
              font-size: 12px;
                li{
                  padding-left: 20px;
                  margin-bottom: 5px;
                    &:before{
                      top: 7px;
                      width: 6px;
                      height: 6px;
                    }
                }
            }
        }
    }
    .price{
        &-value{
          color: $black;
          line-height: 1.4em;
        }
    }
}

.user{
  display: flex;
  align-items: center;
  justify-content: flex-end;
    &-data{
      &-name{
        text-transform: capitalize;
      }
      &-sex{
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .05em;
        line-height: 1em;
        color: $black;
        margin-top: -10px;
        padding-left: 2px;
      }
    }
    &-action{
      padding-left: 50px;
      display: inline-flex;
      align-items: center;
        &-icon{
          width: 18px;
          height: 18px;
          margin-left: 10px;
        }
        .link{
          color: $white;
        }
    }
}

.orders{
    //&-title{
    //  @extend .link;
    //    @include hover(991){
    //      &:hover{
    //        color: initial;
    //      }
    //    }
    //}
    &-box{
      padding: 10px 5px 20px 0;
      margin-bottom: 40px;
      border-bottom: 1px $grey solid;
        &-date{
          font-size: 12px;
          color: $orange;
          margin-top: 10px;
            span{
              color: $black;
            }
        }
        .pricing-box{
            &-title{
              margin-top: 0;
            }
        }
        .price{
            &-value{
              font-size: 34px;
                &-label{
                  font-size: 26px;
                  margin-right: 5px;
                }
                &-lip{
                  font-size: 16px;
                }
            }
        }
    }
}