.dashboard{
  min-height: 100vh;
    &-sidebar{
      border: 1px $grey solid;
      border-radius: 6px;
      background-color: $white;
        &-nav{
            li{
              border-bottom: 1px $grey solid;
              padding: 10px 20px;
              position: relative;
                &:last-child{
                  border-bottom: none;
                }
            }
            a{
              @extend .link;
                &.is-active{
                  color: $orange;
                }
            }
        }
    }
}